@page "/"
@using Desutsch_Audio_Files.Data
@inject StageService stageSerivce
@inject CourseProvider courseProvider


<span>selected stage is @selectedStage</span>
@for (int i = 1; i <= stageSerivce.Count ;i++)
{
    <button @onclick="() => SwitchStage(i)">@i</button>
}

@foreach (var item in SelectedCourses)
{
    <div>
        <span>@item.Name</span>
        <a>@item.Url</a>
        <span>@item.CurrentStage</span>
    </div>
}

@code{
    public int selectedStage { get; set; } = 1;
    public List<Course> SelectedCourses = new List<Course>();

    public void SwitchStage(int Stage){
        SelectedCourses.Clear();
        foreach (Course course in courseProvider.Courses)
        {
            if (course.CurrentStage == Stage )
            {
                SelectedCourses.Add(course);
            }
        } 
    }
}